<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
    
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-bisque">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">Practica7</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" href="../views/pagina1.html">Pag1</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="../views/pagina2.html">Pag2</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="../views/pagina3.html">Pag3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <main class="container-fluid md-4 mt-4 mx-2">

        <h3>Galería</h3>
        <div class="gallery mt-4">

            <img src="../images/content/agua.png" alt="agua">
            <img src="../images/content/mesa.png" alt="mesa">
            <img src="../images/content/silla.png" alt="silla">
            <img src="../images/content/atril.png" alt="atril">

        </div>
        

    </main>

    <footer class="text-center mt-2">
        <div class="social">
            <a href="https://www.facebook.com"><img src="../images/social/facebook.png" alt="Facebook" class="rounded-circle border mx-2 mt-2" width="30"></a>
            <a href="https://www.twitter.com"><img src="../images/social/twitter.png" alt="Twitter" class="rounded-circle border mx-2 mt-2" width="30"></a>
            <a href="https://www.instagram.com"><img src="../images/social/instagram.png" alt="Instagram" class="rounded-circle border mx-2 mt-2" width="30"></a>
        </div>
        <p>Todos los derechos reservados</p>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>